.mediaViewInfo {
	--web-view-name: maintenance;
	--web-view-id: maintenance;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-actual-size-on-double-click: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: maintenance;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#maintenance {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: maintenance;
	--web-view-id: maintenance;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-actual-size-on-double-click: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#Group_17 {
	position: absolute;
	width: 1218.303px;
	height: 844.942px;
	left: 350.606px;
	top: 117.058px;
	overflow: visible;
}
#Group_16 {
	position: absolute;
	width: 1218.303px;
	height: 732.782px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_177 {
	overflow: visible;
	position: absolute;
	width: 167.476px;
	height: 545.832px;
	left: 0.38px;
	top: 164.737px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_178 {
	overflow: visible;
	position: absolute;
	width: 69.792px;
	height: 227.462px;
	left: 1148.511px;
	top: 483.722px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_41 {
	position: absolute;
	overflow: visible;
	width: 1214.32px;
	height: 47.576px;
	left: 0px;
	top: 685.206px;
}
.Rectangle_128 {
	position: absolute;
	overflow: visible;
	width: 693.25px;
	height: 413.311px;
	left: 208.428px;
	top: 280.959px;
}
.Path_179 {
	overflow: visible;
	position: absolute;
	width: 171.568px;
	height: 163.084px;
	left: 208.428px;
	top: 280.959px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_180 {
	overflow: visible;
	position: absolute;
	width: 65.934px;
	height: 23.003px;
	left: 523.03px;
	top: 671.266px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_181 {
	overflow: visible;
	position: absolute;
	width: 66.289px;
	height: 139.216px;
	left: 835.389px;
	top: 480.484px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_129 {
	position: absolute;
	overflow: visible;
	width: 478.186px;
	height: 40.85px;
	left: 316.561px;
	top: 431.146px;
}
.Rectangle_130 {
	position: absolute;
	overflow: visible;
	width: 478.186px;
	height: 40.85px;
	left: 316.561px;
	top: 511.645px;
}
.Rectangle_131 {
	position: absolute;
	overflow: visible;
	width: 167.654px;
	height: 40.85px;
	left: 627.094px;
	top: 592.143px;
}
.Path_182 {
	overflow: visible;
	position: absolute;
	width: 48.13px;
	height: 168.618px;
	left: 990.434px;
	top: 126.977px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_183 {
	overflow: visible;
	position: absolute;
	width: 56.324px;
	height: 154.456px;
	left: 768.897px;
	top: 66.204px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_184 {
	overflow: visible;
	position: absolute;
	width: 263.415px;
	height: 442.248px;
	left: 757.157px;
	top: 212.166px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_185 {
	overflow: visible;
	position: absolute;
	width: 128.554px;
	height: 58.601px;
	left: 729.498px;
	top: 379.177px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_186 {
	overflow: visible;
	position: absolute;
	width: 104.224px;
	height: 76.485px;
	left: 905.802px;
	top: 634.085px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_42 {
	position: absolute;
	overflow: visible;
	width: 72.016px;
	height: 72.016px;
	left: 794.509px;
	top: 14.745px;
}
.Path_187 {
	overflow: visible;
	position: absolute;
	width: 73.419px;
	height: 66.72px;
	left: 833.694px;
	top: 46.517px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_188 {
	overflow: visible;
	position: absolute;
	width: 221.872px;
	height: 241.501px;
	left: 804.57px;
	top: 47.377px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_189 {
	overflow: visible;
	position: absolute;
	width: 92.339px;
	height: 59.456px;
	left: 779.361px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#m_a_i_n_t_e_n_a_n_c_e {
	position: absolute;
	left: 209.394px;
	top: 188.942px;
	overflow: visible;
	width: 406px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(88,88,137,1);
}
#social {
	position: absolute;
	width: 286.15px;
	height: 60px;
	left: 466.394px;
	top: 784.942px;
	overflow: visible;
}
.Icon_metro_instagram {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_github_square {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 113px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_linkedin {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 226.15px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}